.ki {
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #cd0f0f,
        0 0 42px rgb(235, 10, 156),
        0 0 82px rgb(248, 5, 187),
        0 0 92px rgb(222, 8, 194),
        0 0 102px rgb(242, 11, 219),
        0 0 151px rgb(254, 25, 219);
  }
  
  /* Additional styling */
    
  body {
    font-size: 18px;
    font-family: "Vibur", sans-serif;
    background-color: #010a01;
  }  
  
  h1, h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
  }
    
  h1 {
      font-size: 4.2rem;
  }
    
  h2 {
      font-size: 1.8rem;
  }
  
  .container {
    margin-top: 20vh;
  }
  

  